@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
:root {
  --primary-color: #403f3d;
  --secondary-color: #e1d4c9;
  --premium-color: #ab8874;
  --label-color: #fff;
  --primary-shadow: #665f55;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
@media screen and (max-width: 800px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar-thumb {
  background-color: var(--premium-color);
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.premium-style {
  color: var(--premium-color);
  font-style: italic;
}

.disabled {
  opacity: 0.4;
}

.hidden {
  display: none !important;
}

ul > li {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 13pt;
  padding: 10px 35px 30px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  overflow-x: hidden;
}
@media screen and (max-width: 355px) {
  body {
    padding: 10px 10px 30px;
  }
}
body #root {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 400px) {
  body #root {
    gap: 45px;
  }
}
body #root .nav {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #root .nav .nav__logo {
  width: 100px;
}
body #root .nav .nav__logo img {
  width: 100%;
  transition: filter 0.4s ease;
}
body #root .nav .nav__logo img:hover {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.425));
}
body #root .nav .nav__panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 68vw;
}
body #root .nav .nav__panel a {
  position: relative;
}
body #root .nav .nav__panel a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  margin: -5px 0;
  background-color: var(--primary-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.6s ease-in-out 0s;
}
body #root .nav .nav__panel a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
body #root .nav .nav__panel .nav__links {
  display: flex;
  gap: 20px;
}
body #root .nav i.fa-bars {
  font-size: 22pt;
  cursor: pointer;
}
body #root .hero {
  background: linear-gradient(135deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.384)), url("./assets/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 38px;
  color: var(--label-color);
  padding: 90px;
}
@media screen and (max-width: 590px) {
  body #root .hero {
    padding: 30px;
  }
}
body #root .hero .hero__content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media screen and (max-width: 590px) {
  body #root .hero .hero__content {
    gap: 25px;
  }
}
body #root .hero .hero__content .hero__title {
  font-size: 48pt;
  line-height: 68px;
}
@media screen and (max-width: 715px) {
  body #root .hero .hero__content .hero__title {
    font-size: 35pt;
    line-height: 54px;
  }
}
@media screen and (max-width: 590px) {
  body #root .hero .hero__content .hero__title {
    font-size: 30pt;
    line-height: 45px;
  }
}
@media screen and (max-width: 400px) {
  body #root .hero .hero__content .hero__title {
    font-size: 23pt;
    line-height: 40px;
  }
}
body #root .hero .hero__content .hero__info {
  font-size: 11pt;
  line-height: 23px;
}
@media screen and (max-width: 715px) {
  body #root .hero .hero__content .hero__info {
    font-size: 10pt;
  }
}
body #root .hero .hero__content .hero__link-btn {
  background-color: var(--label-color);
  border-radius: 30px;
  color: var(--primary-color);
  width: 180px;
  text-align: center;
  padding: 20px;
  font-weight: 600;
}
@media screen and (max-width: 715px) {
  body #root .hero .hero__content .hero__link-btn {
    width: 120px;
    font-size: 11pt;
  }
}
@media screen and (max-width: 590px) {
  body #root .hero .hero__content .hero__link-btn {
    width: 100px;
    font-size: 10pt;
    padding: 10px;
  }
}
body #root .hero .hero__content .hero__link-btn i.fa {
  opacity: 0;
  transform: translateX(-6px);
  transition: transform 0.5s, opacity 0.5s, display 0.5s;
}
body #root .hero .hero__content .hero__link-btn span {
  display: inline-block;
  transform: translateX(11px);
  transition: transform 0.4s ease;
}
body #root .hero .hero__content .hero__link-btn:hover > i.fa {
  opacity: 1;
  transform: translateX(0px);
}
body #root .hero .hero__content .hero__link-btn:hover > span {
  transform: translateX(0px);
}
body #root .favorite-coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 70px;
  gap: 35px;
  position: relative;
}
@media screen and (max-width: 400px) {
  body #root .favorite-coffee {
    padding: 20px;
  }
}
body #root .favorite-coffee .favorite__title {
  font-size: 40pt;
}
@media screen and (max-width: 540px) {
  body #root .favorite-coffee .favorite__title {
    font-size: 22pt;
  }
}
@media screen and (max-width: 400px) {
  body #root .favorite-coffee .favorite__title {
    font-size: 18pt;
  }
}
body #root .favorite-coffee .favorite__slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
body #root .favorite-coffee .favorite__slider-container .favorite__slider {
  display: flex;
  overflow-x: auto;
  max-width: 430px;
  scroll-snap-type: x mandatory;
}
body #root .favorite-coffee .favorite__slider-container .favorite__slider::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 340px) {
  body #root .favorite-coffee .favorite__slider-container .favorite__slider {
    width: 100%;
  }
}
body #root .favorite-coffee .favorite__slider-container .favorite__slider .slide {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  scroll-snap-align: center;
}
body #root .favorite-coffee .favorite__slider-container .favorite__slider .slide .image-container img {
  width: 100%;
  transition: filter 0.4s ease;
}
body #root .favorite-coffee .favorite__slider-container .favorite__slider .slide .image-container img:hover {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}
body #root .favorite-coffee .favorite__slider-container .favorite__slider .slide .favorite__content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
body #root .favorite-coffee .favorite__slider-container .favorite__slider .slide .favorite__content .favorite__name {
  font-size: 16pt;
}
body #root .favorite-coffee .favorite__slider-container .favorite__slider .slide .favorite__content .favorite__info {
  font-size: 11.5pt;
}
@media screen and (max-width: 350px) {
  body #root .favorite-coffee .favorite__slider-container .favorite__slider .slide .favorite__content .favorite__info {
    font-size: 10pt;
  }
}
body #root .favorite-coffee .favorite__slider-container .favorite__slider .slide .favorite__content .favorite__price {
  font-size: 16pt;
  font-weight: 800;
}
body #root .favorite-coffee .favorite__slider-container .favorite__nav {
  display: flex;
  gap: 10px;
}
body #root .favorite-coffee .favorite__slider-container .favorite__nav a:not(.slide__btn) {
  height: 6px;
  width: 40px;
  background-color: #c1b6ad;
  border-radius: 100px;
  transition: background-color 0.6s ease-in;
}
body #root .favorite-coffee .favorite__slider-container .favorite__nav a:not(.slide__btn).active {
  background-color: #665f55;
}
body #root .favorite-coffee .favorite__slider-container .favorite__nav .slide__btn {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--primary-shadow);
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% + 30px));
  transition: background-color 0.4s, color 0.4s ease;
}
@media screen and (max-width: 400px) {
  body #root .favorite-coffee .favorite__slider-container .favorite__nav .slide__btn {
    width: 40px;
    height: 40px;
  }
}
body #root .favorite-coffee .favorite__slider-container .favorite__nav .slide__btn:hover {
  background-color: var(--primary-shadow);
  color: var(--label-color);
}
body #root .favorite-coffee .favorite__slider-container .favorite__nav .slide__btn.left {
  left: 0;
}
body #root .favorite-coffee .favorite__slider-container .favorite__nav .slide__btn.right {
  right: 0;
}
body #root .about {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
body #root .about .about__title {
  font-size: 40pt;
}
@media screen and (max-width: 1100px) {
  body #root .about .about__title {
    font-size: 25pt;
  }
}
@media screen and (max-width: 670px) {
  body #root .about .about__title {
    font-size: 20pt;
  }
}
@media screen and (max-width: 500px) {
  body #root .about .about__title {
    font-size: 16pt;
    text-align: center;
  }
}
body #root .about .about__image-container {
  display: flex;
  align-items: center;
  gap: 25px;
}
@media screen and (max-width: 500px) {
  body #root .about .about__image-container {
    flex-direction: column;
  }
}
body #root .about .about__image-container .grid-container {
  display: grid;
  grid-template-rows: auto;
  gap: 25px;
}
@media screen and (max-width: 500px) {
  body #root .about .about__image-container .grid-container .extra-img {
    display: none;
  }
}
body #root .about .about__image-container .grid-container .image-box {
  border-radius: 20px;
  overflow: hidden;
}
body #root .about .about__image-container .grid-container .image-box img {
  width: 100%;
  transform: scale(1.1);
  transition: transform 0.4s ease;
}
body #root .about .about__image-container .grid-container .image-box img:hover {
  transform: scale(1);
}
body #root .app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 35px;
}
@media screen and (max-width: 930px) {
  body #root .app {
    gap: 40px;
  }
}
@media screen and (max-width: 800px) {
  body #root .app {
    flex-direction: column;
    text-align: center;
  }
}
body #root .app .image-box {
  order: 2;
}
body #root .app .image-box img {
  width: 100%;
}
@media screen and (max-width: 800px) {
  body #root .app .image-box img {
    width: 85%;
  }
}
body #root .app .app__content {
  order: 1;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
@media screen and (max-width: 300px) {
  body #root .app .app__content {
    gap: 30px;
  }
}
@media screen and (max-width: 930px) {
  body #root .app .app__content {
    max-width: 400px;
  }
}
body #root .app .app__content .app__title {
  font-size: 40pt;
}
@media screen and (max-width: 930px) {
  body #root .app .app__content .app__title {
    font-size: 30pt;
  }
}
@media screen and (max-width: 300px) {
  body #root .app .app__content .app__title {
    font-size: 25pt;
  }
}
body #root .app .app__content .app__info {
  font-size: 11pt;
}
@media screen and (max-width: 300px) {
  body #root .app .app__content .app__info {
    font-size: 10pt;
  }
}
body #root .app .app__content .app__links {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 400px) {
  body #root .app .app__content .app__links {
    flex-direction: column;
  }
}
body #root .app .app__content .app__links a {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--primary-color);
  padding: 8px 35px 8px 20px;
  border-radius: 100px;
  transition: 0.6s ease;
}
@media screen and (max-width: 450px) {
  body #root .app .app__content .app__links a {
    font-size: 10pt;
  }
}
body #root .app .app__content .app__links a:hover {
  background-color: var(--primary-color);
  color: var(--label-color);
}
body #root .app .app__content .app__links a i.fa-brands {
  font-size: 30px;
}
@media screen and (max-width: 450px) {
  body #root .app .app__content .app__links a i.fa-brands {
    font-size: 20px;
  }
}
body #root .app .app__content .app__links a .link-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
body #root .app .app__content .app__links a .link-content p {
  font-size: 9pt;
}
@media screen and (max-width: 450px) {
  body #root .app .app__content .app__links a .link-content p {
    font-size: 7pt;
  }
}
body #root .app .app__content .app__links a .link-content h3 {
  text-align: left;
  font-size: 11pt;
  font-weight: 600;
  margin-top: 3px;
}
@media screen and (max-width: 450px) {
  body #root .app .app__content .app__links a .link-content h3 {
    font-size: 9pt;
  }
}
body #root .footer {
  background-color: var(--primary-color);
  border-radius: 40px;
  color: var(--label-color);
  margin-top: 45px;
  padding: 90px;
  display: flex;
  align-items: center;
  gap: 120px;
}
@media screen and (max-width: 925px) {
  body #root .footer {
    gap: 80px;
  }
}
@media screen and (max-width: 810px) {
  body #root .footer {
    gap: 40px;
  }
}
@media screen and (max-width: 770px) {
  body #root .footer {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 505px) {
  body #root .footer {
    padding: 40px 10px;
  }
}
body #root .footer .motto {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
body #root .footer .motto h1 {
  color: var(--label-color);
  font-size: 40pt;
  font-weight: 600;
}
@media screen and (max-width: 1100px) {
  body #root .footer .motto h1 {
    font-size: 25pt;
  }
}
@media screen and (max-width: 925px) {
  body #root .footer .motto h1 {
    font-size: 22pt;
  }
}
@media screen and (max-width: 770px) {
  body #root .footer .motto h1 {
    font-size: 30pt;
  }
}
@media screen and (max-width: 400px) {
  body #root .footer .motto h1 {
    font-size: 25pt;
  }
}
body #root .footer .motto .social-network__links > ul {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 770px) {
  body #root .footer .motto .social-network__links > ul {
    justify-content: center;
  }
}
body #root .footer .motto .social-network__links > ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--label-color);
  color: var(--label-color);
  transition: background-color 0.6s ease, color 0.6s ease;
}
@media screen and (max-width: 925px) {
  body #root .footer .motto .social-network__links > ul a {
    width: 40px;
    height: 40px;
  }
}
body #root .footer .motto .social-network__links > ul a:hover {
  background-color: var(--label-color);
  color: var(--primary-color);
}
body #root .footer .motto .social-network__links > ul a i.fa-brands {
  font-size: 28px;
}
@media screen and (max-width: 925px) {
  body #root .footer .motto .social-network__links > ul a i.fa-brands {
    font-size: 20px;
  }
}
body #root .footer .contact-us {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
body #root .footer .contact-us h2 {
  font-size: 16pt;
}
body #root .footer .contact-us .contact-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 925px) {
  body #root .footer .contact-us .contact-list {
    font-size: 11pt;
  }
}

/*# sourceMappingURL=style.css.map */
